@font-face {
    font-family: Montserrat;
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf")

}

@font-face {
    font-family: Garnet Capital Black;
    src: url("./assets/fonts/GarnetCapitals-Black.ttf")
}